<div class="container">

  <div class="row" ng-show="registrationViewMode == 'SIGNIN'">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form name="SignInForm" novalidate>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <h2> Please Sign In </h2>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <p class="pull-right" style="margin-top: 30px;">
              <a href="" ng-click="registrationViewMode='SIGNUP'"> Dont have account? Sign up here </a>
            </p>
          </div>
        </div>

        <hr class="colorgraph">
        <div class="form-group" >
          <input type="email" name="email" ng-model="registrationModel.email" class="form-control input-lg" placeholder="Email Address" tabindex="1" required>
        </div>
        <div class="form-group">
          <input type="password" name="password" ng-model="registrationModel.password" class="form-control input-lg" placeholder="Password" tabindex="2" required>
        </div>

        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <input type="submit" ng-click="loginUser()" class="btn btn-success btn-block btn-lg" value="Sign In" />
          </div>
          <div class="col-xs-12 col-sm-6">
            <p class="pull-right">
              <a href="" ng-click="registrationViewMode='FORGOTPWD'">Forgot password?</a>
            </p>
          </div>
        </div>

        <div class="row hide">
          <div class="col-xs-12 col-md-4">
            <button type="button" ng-click="validateUser()" class="btn btn-info btn-lg">Validate User</button>
          </div>
          <div class="col-xs-12 col-md-4">
            <button type="button" ng-click="signOut()" class="btn btn-warning btn-lg">Sign Out</button>
          </div>
          <div class="col-xs-12 col-md-4">
            <button type="button" ng-click="testCall()" class="btn btn-danger btn-lg">Test Call</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" ng-show="registrationViewMode == 'FORGOTPWD'">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" on-navigate-away-strategy='none'>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <h2> Forgot Password? </h2>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <p class="pull-right" style="margin-top: 30px;">
              <a href="" ng-click="registrationViewMode='SIGNIN'">Sign In here</a>
            </p>
          </div>
        </div>

        <hr class="colorgraph">
        <div class="form-group">
          <input type="email" name="email" ng-model="registrationModel.email" class="form-control input-lg" placeholder="Email Address" tabindex="1">
        </div>

        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <input type="submit" ng-click="resetPassword(registrationModel)" class="btn btn-info btn-block btn-lg" value="Reset password" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" ng-show="registrationViewMode == 'RESETPWD'">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" on-navigate-away-strategy='none'>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <h2> Reset password </h2>
          </div>
        </div>

        <hr class="colorgraph">
        <div class="form-group">
          <input type="password" name="password" ng-model="registrationModel.password" class="form-control input-lg" placeholder="Password" tabindex="2">
        </div>
        <div class="form-group">
          <input type="password" name="password_confirmation" ng-model="registrationModel.password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="2">
        </div>

        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <input type="submit" ng-click="resetPassword(registrationModel)" class="btn btn-info btn-block btn-lg" value="Reset password" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" ng-show="registrationViewMode == 'SIGNUP'">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" on-navigate-away-strategy='none'>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <h2> Please Sign Up </h2>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <p class="pull-right" style="margin-top: 30px;">
              <a href="" ng-click="registrationViewMode='SIGNIN'">Already have account?</a>
            </p>
          </div>
        </div>

        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input type="text" name="name" ng-model="registrationModel.name" class="form-control input-lg" placeholder="Name" tabindex="1">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" name="email" ng-model="registrationModel.email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="password" ng-model="registrationModel.password" class="form-control input-lg" placeholder="Password" tabindex="5">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="password_confirmation" ng-model="registrationModel.password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
            </div>
          </div>
        </div>

        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <input type="submit" ng-click="registerUser(registrationModel)" class="btn btn-primary btn-block btn-lg" value="Register" />
          </div>
          <div class="col-xs-12 col-sm-6">
            <p class="pull-right">
              <a href="" ng-click="registrationViewMode='FORGOTPWD'">Forgot password?</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
